@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap');
body{
    width: 100%;
    height: 100%;
    display: initial;
    background: linear-gradient(90deg, #1CAAFF 1.69%, #0E60C0 94.45%);
}
container {
    margin:0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    max-height: 700px;
    width: 35%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    overflow-y: scroll;
}
container::-webkit-scrollbar{
    width: 5px;
}
container::-webkit-scrollbar-thumb{
    background-color: #b6b6b6;
    border-radius: 20px;
}
.content {
    padding: 60px;
}
#main-title{
    text-align: center;
    font-family: Aleo;
    font-weight: 700;
    font-size: 50px;
    margin-top: 0;
}
.new-task-block{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 80px;
}
#input-task{
    width: 70%;
    border: none;
    border-bottom: 2px solid #b6b6b6;
    outline: none;
    font-family: 'DM Sans';
    font-size: 19px;
}
#add-task-button{
    width: 20%;
    border: none;
    border-radius: 5px;
    background: #1173D0;
    color: #ffffff;
    font-family: 'DM Sans';
    font-size: 17px;
    cursor: pointer;
}
#add-task-button:hover{
    background: #0E60C0;
}
#task-list{
    padding-left: 0;
    list-style-type: none;
}
#task-list li{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
#task-list li:not(:last-child){
    margin-bottom: 40px;
}
#task-list li input{
    width: 20px;
    margin: 0;
}
.task{
    width: 80%;
    text-align: left;
    font-family: 'DM Sans';
    font-size: 20px;
    font-weight: 400;
    align-self: center;
}
.delete-btn{
    background: url("https://www.svgrepo.com/show/380138/x-close-delete.svg");
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    align-self: center;
}
.delete-btn:active{
    transform: rotate(180deg);
    transition: transform 100ms ;
}
.text-decoration{
    text-decoration: line-through;
}
#no-tasks-yet div{
    display: flex;
}
#no-tasks-yet div img{
    width: 100px;
    margin: 0 auto;
}
#no-tasks-yet p{
    text-align: center;
    font-family: 'DM Sans';
    font-size: 19px;
}
